<div style="padding-top:70px; height: 100%;">
    <div class="container">
        <div class="row">
                <div *ngFor="let location of location_list | async">
                    <div class="card" style = "width: 40%; margin: auto" style="cursor: pointer" >
                        <img class = "card-img-top" [attr.src]="'https://projectqrstore.blob.core.windows.net/qrimagestore/' + location._id + '.png'">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary" [routerLink]="['/location', location._id]">Get Stock Details</button></div>
                                <div class="col-6"><button class="btn btn-primary">Download QR Code</button></div>
                            </div>
                        </div>
                        <div class="card-body" style="background-color: rgb(22, 75, 175); color: white;">
                            <div class="row">
                                <div class="col-6">Location: {{ location.location }}</div>
                                <div class="col-6">Warehouse: {{ location.warehouse }}</div>
                                </div>
                        </div>
                        <div class="card-footer" style="background-color: white;">
                            <div class="col-4">Rack: {{ location.stock_rack }}</div>
                            <div class="col-4">Row: {{ location.rack_column }}</div>
                            <div class="col-4">Column: {{ location.rack_row }}</div>
                        </div>
                        
                    
                </div>
            </div> 
            <div class="row">
                <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Stock Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stock of stock_list | paginate: { itemsPerPage: 12, currentPage: page }">
                    <th scope="row">{{stock.name}}</th>
                    <td>{{stock.quantity}}</td>
                    <td>{{stock.desc}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div> 
        </div>
</div>
        