<div style="padding-top:70px; height: 100%;">
    <div class="container">
        <div class="row">
                <div *ngIf= "location">
                    <div class="card" style = "width: 40%; margin: auto">
                        <img class = "card-img-top" [attr.src]="'https://projectqrstore.blob.core.windows.net/qrimagestore/' + location._id + '.png'" style="object-fit: contain; height: 100mm; padding:10px;" alt="A QR code for the assosiated stock location entry">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-12"><button class="btn btn-primary" (click)="DownloadQR(location._id)" matTooltip="Download the QR code"
                                  aria-label="Button that downloads the QR code" matTooltipPosition="right">Download QR Code</button></div>
                        </div>
                        
                        
                      
                      </div>
                        <ng-container *ngIf = "toggleEdit; else editFormView">
                        <div class="card-body" style="background-color: #185c9b; color: white;">
                            <div class="row">
                                <div class="col-6">Location: {{ location.location }}</div>
                                <div class="col-6">Warehouse: {{ location.warehouse }}</div>
                                </div>
                        </div>
                        <div class="card-footer" style="background-color: white;">
                            <div class="col-4">Rack: {{ location.stock_rack }}</div>
                            <div class="col-4">Row: {{ location.rack_column }}</div>
                            <div class="col-4">Column: {{ location.rack_row }}</div>
                        </div>
                      </ng-container>
                      <ng-template #editFormView>
                        <form [formGroup]="editForm"(ngSubmit)="OnEditSubmit()">
                        <div class="card-body" style="background-color: #185c9b; color: white;">
                    
                          <div class="row">
                            <div class="col-3"><label for="location">Location:</label></div>
                             <div class="col-3"> <div class="form-group"> 
                              
                                    <input id="location" name="location"
                                        class="form-control" 
                                        formControlName="location"
                                        type="text"
                                        [ngModel]="location.location"
                                        [ngClass]="{'error': isLocationInvalid('location')}">
                            </div></div>
                              <div class="col-3"><label for="location">Warehouse:</label></div>
                              <div class="col-3"><div class="form-group"> 
                              
                                <input id="warehouse" name="warehouse"
                                    class="form-control" 
                                    formControlName="warehouse"
                                    type="text"
                                    [ngModel]="location.warehouse"
                                    [ngClass]="{'error': isLocationInvalid('warehouse')}">
                        </div></div>
                              </div>
                            
                      </div>
                      <div class="card-footer" style="background-color: white;">
                        
                        <div class="row">
                          <div class="col-3"><label for="rack">Rack:</label></div>
                          <div class="col-3"><div class="form-group"> 
                              
                            <input id="rack" name="rack"
                                class="form-control" 
                                formControlName="rack"
                                type="text"
                                [ngModel]="location.stock_rack"
                                [ngClass]="{'error': isLocationInvalid('rack')}">
                    </div></div>
                        </div>
                        <div class="row">
                          <div class="col-3"><label for="row">Row:</label></div>
                          <div class="col-3"><div class="form-group"> 
                              
                            <input id="row" name="row"
                                class="form-control" 
                                formControlName="row"
                                type="text"
                                [ngModel]="location.rack_row"
                                [ngClass]="{'error': isLocationInvalid('row')}">
                    </div></div>
                        </div>
                        <div class="row">
                          <div class="col-3"><label for="column">Column:</label></div>
                          <div class="col-3"><div class="form-group"> 
                              
                            <input id="column" name="column"
                                class="form-control" 
                                formControlName="column"
                                type="text"
                                [ngModel]="location.rack_column"
                                [ngClass]="{'error': isLocationInvalid('column')}">
                    </div></div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div > <span class="col-6"  *ngIf="isLocationIncomplete()">You must complete all fields</span>
                          <button class="col-3" *ngIf="!isLocationIncomplete()" type="submit"
                              class="btn btn-primary"  matTooltip="Submit the edited stock location"
                              aria-label="Button that submits edited location" matTooltipPosition="right">Submit</button></div>
                      </div>
                    </form>
                      </ng-template>
                      <div class="card-footer" style="background-color: white;">
                        <div class="row">
                          <div class="col-4"><button class="btn btn-primary" (click)="onToggleEdit()"  matTooltip="Toggle Edit on the Stock Location"
                            aria-label="Button that toggles between editing view on the stock location" matTooltipPosition="right">Edit</button></div>
                          <div class="col-4" >
                            
                          </div>
                          <div class="col-4"><button class="btn btn-danger" (click)="OnDeleteLocation()"  matTooltip="Warning! This will delete all assosiated stock"
                            aria-label="Button that deletes the current stock location" matTooltipPosition="left">Delete</button></div>
                      </div>
                    </div>
                        
                    <div class="card-footer" style="background-color: #00adf1;"></div>
            
            </div> 
            <div *ngIf="isStock">
              <ng-container *ngIf = "toggleStockEdit; else editStockFormView">
            <div class="row">
                <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Stock Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stock of stock_list | paginate: { itemsPerPage: 12, currentPage: page }">
                    <th scope="row">{{stock.name}}</th>
                    <td>{{stock.quantity}}</td>
                    <td>{{stock.desc}}</td>
                    <td><button class="btn btn-primary" [routerLink]="['/stockdetails', stock.details]"  matTooltip="Go to the current stocks details page"
                      aria-label="Button that leads to the current stocks details page" matTooltipPosition="left">Get Stock Details</button></td>
                    <td><button class="btn btn-danger" (click)="OnDeleteStock(stock._id)"  matTooltip="Warning! This will delete the stock entry"
                      aria-label="Button that deletes the selected stock" matTooltipPosition="right">Delete</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-4"><button class="btn btn-primary" (click)="onToggleStockEdit()" matTooltip="Toggle Edit on all Stock"
                aria-label="Button that toggles between" matTooltipPosition="right">Edit</button></div>
            </div>
            <div class="row">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
          </ng-container>

            <ng-template #editStockFormView>
              <div class="row">
                <div class="col-3"><strong>Stock Name</strong></div>
                <div class="col-2"><strong>Quantity</strong></div>
                <div class="col-4"><strong>Description</strong></div>
              </div>
              <div class="row">
                <hr style="border: 1px solid black;">
              </div>
              
                <div  *ngFor="let stock of stock_list | paginate: { itemsPerPage: 12, currentPage: page }; let i = index;">
                      
                      <form class="row" [formGroup]="getFormControl(i)" (ngSubmit)="OnEditStockSubmit(stock.location, stock._id, i)">
                      <div class="col-3"><div class="col-8">
                        <select id="details" name="details" class="form-control" formControlName="details" class="form-select"
                        [ngClass]="{'error': isStockEditInvalid('details', i)}">
                            <option *ngFor="let s_details of stock_details" [value]="s_details._id">{{s_details.name}}</option>
                       </select>
                      </div></div>
                      <div class="col-2">
                      <div class="col-6"><div class="form-group"> 
                        <input id="qty" name="qty"
                            class="form-control" 
                            formControlName="qty"
                            type="number"
                            [ngClass]="{'error': isStockEditInvalid('qty', i)}">
                      </div></div></div>
                      <div class="col-4">{{stock.desc}}</div>
                      
                      <div class="col-3"> <span *ngIf="isStockEditIncomplete(i)">You must complete all fields</span>
                        <button *ngIf="!isStockEditIncomplete(i)" type="submit"
                            class="btn btn-primary" matTooltip="Submit the edited stock"
                            aria-label="Button that submits edited stock" matTooltipPosition="right">Submit</button></div>
                      &nbsp;
                      <hr>
                      </form>
                    
                </div>
                <div class="row">
                    <div class="col-4"><button class="btn btn-primary" (click)="onToggleStockEdit()" matTooltip="Toggle Edit on all Stock"
                      aria-label="Button that toggles between" matTooltipPosition="right">Edit</button></div>
                </div>
              <div class="row">
                  <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
            </ng-template>
          </div>
          </div>
            <form  [formGroup]="stockForm"  (ngSubmit)="OnStockSubmit()">
            <div class="row">
              <h3>Add new stock</h3>
            </div>
            <div class="row">
                  <div class="col-4"><label for="details">Details:</label>
                  <select id="details" name="details" class="form-control" formControlName="details" class="form-select">
                      <option selected="selected" *ngFor="let s_details of stock_details" [value]="s_details._id">{{s_details.name}}</option>
                 </select>
                </div>
               
                <div class="row"> &nbsp;</div>
                <div class="row">
                  <div class="col-1"><label for="qty">Quantity:</label></div>
                  <div class="col-3"><div class="form-group"> 
                    <input id="qty" name="qty"
                        class="form-control" 
                        formControlName="qty"
                        type="number"
                        [ngClass]="{'error': isStockInvalid('qty')}">
                  </div></div>
                </div></div>
                <div class="row">&nbsp;</div>
                 
               <div class="col-3"> <span *ngIf="isStockIncomplete()">You must complete all fields</span>
                    <button *ngIf="!isStockIncomplete()" type="submit"
                        class="btn btn-primary" matTooltip="Submit the new stock"
                        aria-label="Button that submits new stock" matTooltipPosition="right">Submit</button></div>
            
            <div class="row">&nbsp;</div>
          </form>
         
        
        </div>
        
</div>
        