<div style="padding-top:70px; height: 100%;">
    <div class="container">
        <div class="row">
                <div *ngIf= "details">
                    <div class="card" style = "width: 40%; margin: auto">
                      <img class = "card-img-top" [attr.src]="'https://projectqrstore.blob.core.windows.net/' + imageType + details._id + '.png?' + randomNum" style="object-fit: contain; height: 100mm; padding:10px;" alt="{{getCorrectAltText(details.desc)}}">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary" (click)="DownloadQR(details._id)" aria-label="Button that downloads the QR code" matTooltipPosition="above"matTooltip="Download the QR code">Download QR Code</button></div>
                                <div class="col-6" ><button style="float: right;" class="btn btn-primary"(click)="ChangeImage()" matTooltip="Toggle between QR and stock images"
                                  aria-label="Button that toggles between images" matTooltipPosition="above">Toggle Image</button></div>
                        </div>
                        
                      </div>
                        <ng-container *ngIf = "toggleEdit; else editFormView">
                        <div class="card-body" style="background-color: #185c9b; color: white;">
                            <div class="row">
                                <div class="col-6">Name: {{ details.name }}</div>
                                <div class="col-6">Reorder: {{ details.reorder }}</div>
                                </div>
                                <div class="row">
                                  <div class="col-6"></div>
                                  <div class="col-6">Max Stock: {{ details.max }}</div>
                                 </div>
                        </div>
                        <div class="card-footer" style="background-color: white;">
                            <div class="col-12">Description: {{ details.desc }}</div>
                            
                        </div>
                      </ng-container>
                      <ng-template #editFormView>
                        <form [formGroup]="editForm"(ngSubmit)="OnEditSubmit()">
                        <div class="card-body" style="background-color: #185c9b; color: white;">
                    
                          <div class="row">
                            <div class="col-3"><label for="name">Name:</label></div>
                             <div class="col-3"> <div class="form-group"> 
                              
                                    <input id="name" name="name"
                                        class="form-control" 
                                        formControlName="name"
                                        type="text"
                                        [ngClass]="{'error': isDetailsInvalid('name')}"
                                        [ngModel]="details.name">
                            </div></div>
                              <div class="col-3"><label for="reorder">Reorder:</label></div>
                              <div class="col-3"><div class="form-group"> 
                              
                                <input id="reorder" name="reorder"
                                    class="form-control" 
                                    formControlName="reorder"
                                    type="number"
                                    [ngClass]="{'error': isDetailsInvalid('reorder')}"
                                    [ngModel]="details.reorder">
                        </div></div>
                              </div>
                              <div class="row">&nbsp;</div>
                              <div class="row">
                                <div class="col-6"></div>
                                <div class="col-3"><label for="Max">Max Stock:</label></div>
                                <div class="col-3"><div class="form-group"> 
                                
                                  <input id="max" name="max"
                                      class="form-control" 
                                      formControlName="max"
                                      type="number"
                                      [ngClass]="{'error': isDetailsInvalid('max')}"
                                      [ngModel]="details.max">
                          </div></div>
                              
                              </div>
                            
                      </div>
                      <div class="card-footer" style="background-color: white;">
                        
                        <div class="row">
                          <div class="col-3"><label for="desc">Description:</label></div>
                          <div class="col-9"><div class="form-group"> 
                              
                            <textarea id="desc" name="rack"
                                class="form-control" 
                                formControlName="desc"
                                type="text"
                                [ngClass]="{'error': isDetailsInvalid('desc')}"
                                [ngModel]="details.desc"></textarea>
                    </div></div>
                        </div>
                        <div class="row">
                          <div><label for="desc"></label></div>
                          <div class="form-group"> 
                              
                            <div class="col-12"><label for="img" class="form-label">New Image:</label>
                              <input type="file" accept="image/*" class="form-control" id="img"
                              
                              (change)="onFileChange($event)"></div>
                      
                    </div>
                        </div>
                        &nbsp;
                        <div class="row">
                          <div > <span class="col-6"  *ngIf="isDetailsIncomplete()">You must complete all fields</span>
                            <button class="col-3" *ngIf="!isDetailsIncomplete()" type="submit"
                                class="btn btn-primary" matTooltip="Submit the edited stock details"
                                aria-label="Button that submits edited details" matTooltipPosition="right">Submit</button></div>
                        </div>
                      </div>
                    </form>
                      </ng-template>
                      <div class="card-footer" style="background-color: white;">
                        <div class="row">
                          <div class="col-4"><button class="btn btn-primary" (click)="onToggleEdit()" matTooltip="Toggle Edit on the Stock Details"
                            aria-label="Button that toggles between editing view on the stock details" matTooltipPosition="right">Edit</button></div>
                          <div class="col-4" >
                            
                          </div>
                          <div class="col-4"><button class="btn btn-danger" (click)="OnDeleteDetails()" matTooltip="Warning! This will delete all assosiated stock"
                            aria-label="Button that deletes the current stock details" matTooltipPosition="left">Delete</button></div>
                      </div>
                      
                    </div>
                    <div class="card-footer" style="background-color: #00adf1;"></div>
                    
                
            </div> 
            <div *ngIf="isStock">
            <ng-container *ngIf = "toggleStockEdit; else editStockFormView">
            <div class="row">
                <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Stock Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stock of stock_list | paginate: { itemsPerPage: 12, currentPage: page }; let i = index;">
                    <th scope="row">{{details.name}}</th>
                    <td>{{stock.quantity}}</td>
                    <td>{{details.desc}}</td>
                    <td><button class="btn btn-primary" [routerLink]="['/location', stock.location]" matTooltip="Go to the current stocks location page"
                      aria-label="Button that leads to the current stocks location page" matTooltipPosition="left">Get Stock Location</button></td>
                    <td><button class="btn btn-danger" (click)="OnDeleteStock(stock.location ,stock._id)" matTooltip="Warning! This will delete the stock entry"
                      aria-label="Button that deletes the selected stock" matTooltipPosition="right">Delete</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-4"><button class="btn btn-primary" (click)="onToggleStockEdit()" matTooltip="Toggle Edit on all Stock"
                aria-label="Button that toggles between" matTooltipPosition="right">Edit</button></div>
            </div>
            <div class="row">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
          </ng-container>
          <ng-template #editStockFormView>
            <div class="row">
                <div class="col-3"><strong>Stock Name</strong></div>
                <div class="col-2"><strong>Quantity</strong></div>
                <div class="col-4"><strong>Description</strong></div>
              </div>
              <div class="row">
                <hr style="border: 1px solid black;">
              </div>
              
                <div  *ngFor="let stock of stock_list | paginate: { itemsPerPage: 12, currentPage: page }; let i = index;">
                      
                      <form class="row" [formGroup]="getFormControl(i)" (ngSubmit)="OnEditStockSubmit(stock.location, stock._id, i)">
                      <div class="col-3"><div class="col-8">
                        <select id="details" name="details" class="form-control" formControlName="details" class="form-select"
                        [ngClass]="{'error': isStockEditInvalid('details', i)}">
                            <option *ngFor="let s_details of stock_details" [value]="s_details._id">{{s_details.name}}</option>
                       </select>
                      </div></div>
                      <div class="col-2">
                      <div class="col-6"><div class="form-group"> 
                        <input id="qty" name="qty"
                            class="form-control" 
                            formControlName="qty"
                            type="number"
                            [ngClass]="{'error': isStockEditInvalid('qty', i)}">
                      </div></div></div>
                      <div class="col-4">{{details.desc}}</div>
                      
                      <div class="col-3"> <span *ngIf="isStockEditIncomplete(i)">You must complete all fields</span>
                        <button *ngIf="!isStockEditIncomplete(i)" type="submit"
                            class="btn btn-primary" class="btn btn-primary" matTooltip="Submit the edited stock"
                            aria-label="Button that submits edited stock" matTooltipPosition="right">Submit</button></div>
                      &nbsp;
                      <hr>
                      </form>
                    
                </div>
                <div class="row">
                    <div class="col-4"><button class="btn btn-primary" (click)="onToggleStockEdit()" matTooltip="Toggle Edit on all Stock"
                      aria-label="Button that toggles between" matTooltipPosition="right">Edit</button></div>
                </div>
              <div class="row">
                  <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
          </ng-template>
          </div>
        </div>
</div>
        